#   DOCKER
*.env
.env
Docker/data
Docker/logs

#   ANGULAR
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
app-amistad-angular/dist
app-amistad-angular/tmp
app-amistad-angular/out-tsc
app-amistad-angular/bazel-out

# Node
app-amistad-angular/node_modules
app-amistad-angular/npm-debug.log
app-amistad-angular/yarn-error.log

# IDEs and editors
app-amistad-angular/.idea/
app-amistad-angular/.project
app-amistad-angular/.classpath
app-amistad-angular/.c9/
app-amistad-angular/*.launch
app-amistad-angular/.settings/
app-amistad-angular/*.sublime-workspace

# Visual Studio Code
app-amistad-angular/.vscode/*
app-amistad-angular/!.vscode/settings.json
app-amistad-angular/!.vscode/tasks.json
app-amistad-angular/!.vscode/launch.json
app-amistad-angular/!.vscode/extensions.json
app-amistad-angular/!.vscode/mcp.json
app-amistad-angular/.history/*

# Miscellaneous
app-amistad-angular/.angular/cache
app-amistad-angular/.sass-cache/
app-amistad-angular/connect.lock
app-amistad-angular/coverage
app-amistad-angular/libpeerconnection.log
app-amistad-angular/testem.log
app-amistad-angular/typings
app-amistad-angular/__screenshots__/

# System files
app-amistad-angular/.DS_Store
app-amistad-angular/Thumbs.db
